#  SPDX-License-Identifier: LGPL-2.1-or-later
#
#  This file is a modified version of dev-hugepages.mount from systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=1GB Huge Pages File System
Documentation=https://docs.kernel.org/admin-guide/mm/hugetlbpage.html
Documentation=https://www.freedesktop.org/wiki/Software/systemd/APIFileSystems
ConditionPathExists=/sys/kernel/mm/hugepages
ConditionCapability=CAP_SYS_ADMIN
ConditionVirtualization=!private-users
ConditionKernelCommandLine=hugepagesz=1G

[Install]
WantedBy=multi-user.target

[Mount]
What=hugetlbfs
Where=/dev/hugepages1G
Type=hugetlbfs
Options=pagesize=1G